{% extends parent_template|default:"epass/base_epass.html" %}

{% block title %}
{{ block.super }} - Delete Applicant
{% endblock %}

{% block content %}
<div>
	<div>
		<form action="{{ applicant.get_delete_url }}" method="post">
	    {% csrf_token %}
	    <p>
	      Are you sure you want to delete Applicant {{ applicant.passport_number }}?
	    </p>
	    <a href="{{ applicant.get_absolute_url }}">Cancel</a>
	    <button type="submit">Delete Applicant</button>
	  </form>
	</div>
</div>
{% endblock %}


